[Unit]
Description=Vaultwarden

[Container]
ReadOnly=true
Tmpfs=/tmp:size=64M
DropCapability=ALL
AddCapability=NET_BIND_SERVICE
NoNewPrivileges=true
PidsLimit=128

Image=docker.io/vaultwarden/server:1.37.1-alpine
ContainerName=vaultwarden
Network=tsdproxy-net.network
PublishPort=8082:80
Volume=%h/.config/containers/volumes/vaultwarden/data:/data:Z
EnvironmentFile=%h/.config/containers/env/vaultwarden.env
Secret=vaultwarden-admin-token,type=env,target=ADMIN_TOKEN

HealthCmd=CMD-SHELL wget -q --spider http://127.0.0.1:80/alive || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=15s
Notify=healthy
Label=tsdproxy.enable=true
Label=tsdproxy.autodetect=true
Label=tsdproxy.name=vaultwarden
Label=tsdproxy.port.web=443/https:80/http
Label=homepage.group=Self-Hosted
Label=homepage.name=Vaultwarden
Label=homepage.icon=vaultwarden.svg
Label=homepage.href=https://vaultwarden.${TAILNET}.ts.net
Label=homepage.description="Self-hosted password vault (Bitwarden)"
Label=wud.watch=true
Label=wud.tag.include=^[0-9]+.[0-9]+.[0-9]+-alpine$

[Service]
Restart=always

[Install]
WantedBy=default.target
