[hortifruti]
cenoura|cenouras
tomate|tomates
cebola|cebolas
alho
batata|batatas
limão|limões
banana|bananas
salsinha|cheiro-verde

[açougue]
frango|peito de frango|coxa de frango
carne moída
bife|contrafilé
linguiça

[laticínios]
creme de leite
leite
queijo|queijo meia-cura|muçarela
manteiga
requeijão
iogurte
ovo|ovos

[mercearia]
chocolate|chocolate meio amargo
fermento em pó
arroz
feijão
macarrão|espaguete
farinha de trigo
polvilho azedo|polvilho
açúcar
sal
azeite
óleo
café

[padaria]
pão|pão francês
pão de forma

[limpeza]
detergente
sabão em pó
esponja
