[Unit]
Description=Authentik Worker (background tasks, outposts)
After=authentik-postgres.service podman.socket
Requires=authentik-postgres.service podman.socket

[Container]
PidsLimit=256
Image=ghcr.io/goauthentik/server:2026.5.6
ContainerName=authentik-worker
Network=authentik-net.network
Exec=worker
User=0

Environment=AUTHENTIK_POSTGRESQL__HOST=postgresql
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Secret=authentik-postgres-password,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=authentik-secret-key,type=env,target=AUTHENTIK_SECRET_KEY

Volume=%h/.config/containers/volumes/authentik/data:/data:Z
Volume=%h/.config/containers/volumes/authentik/certs:/certs:Z
Volume=%t/podman/podman.sock:/var/run/docker.sock:z

PodmanArgs=--shm-size=512m

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
