[Unit]
Description=Authentik PostgreSQL

[Container]
DropCapability=ALL
AddCapability=CHOWN
AddCapability=SETUID
AddCapability=SETGID
AddCapability=DAC_OVERRIDE
AddCapability=FOWNER
PidsLimit=256
Image=docker.io/library/postgres:16-alpine
ContainerName=authentik-postgres
Network=authentik-net.network
NetworkAlias=postgresql

Environment=POSTGRES_DB=authentik
Environment=POSTGRES_USER=authentik
Secret=authentik-postgres-password,type=env,target=POSTGRES_PASSWORD
Volume=%h/.config/containers/volumes/authentik/postgres:/var/lib/postgresql/data:Z

HealthCmd=CMD-SHELL pg_isready -d authentik -U authentik
HealthInterval=5s
HealthTimeout=5s
HealthRetries=12
HealthStartPeriod=10s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
