[Unit]
Description=Authentik PostgreSQL

[Container]
ReadOnly=true
Tmpfs=/tmp:size=64M
Tmpfs=/var/run/postgresql:size=16M
DropCapability=ALL
User=70
PidsLimit=256
NoNewPrivileges=true
Image=docker.io/library/postgres:16-alpine
ContainerName=authentik-postgres
Network=authentik-net.network
NetworkAlias=postgresql

Environment=POSTGRES_DB=authentik
Environment=POSTGRES_USER=authentik
Secret=authentik-postgres-password,type=env,target=POSTGRES_PASSWORD
Volume=%h/.config/containers/volumes/authentik/postgres:/var/lib/postgresql/data:Z

HealthCmd=CMD-SHELL pg_isready -d authentik -U authentik
HealthInterval=5s
HealthTimeout=5s
HealthRetries=12
HealthStartPeriod=10s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
