WUD_WATCHER_LOCAL_CRON=0 6 * * *

# Restricts WUD to watching only containers marked with Label=wud.watch=true
# (see "Filtering which containers to watch" in the README)
WUD_WATCHER_LOCAL_WATCHBYDEFAULT=false
