[Unit]
Description=Calibre-Web-Automated

[Container]
ReadOnly=true
Tmpfs=/tmp:size=64M
DropCapability=ALL
AddCapability=CHOWN
AddCapability=SETUID
AddCapability=SETGID
AddCapability=NET_BIND_SERVICE
PidsLimit=256
Image=docker.io/crocodilestick/calibre-web-automated:v4.0.6
ContainerName=calibre-web-automated
Network=tsdproxy-net.network
PublishPort=8105:8083
Volume=%h/.config/containers/volumes/calibre-web-automated/config:/config:Z
Volume=%h/.config/containers/volumes/calibre-web-automated/ingest:/cwa-book-ingest:Z
Volume=%h/.config/containers/volumes/calibre-web-automated/library:/calibre-library:Z
EnvironmentFile=%h/.config/containers/env/calibre-web-automated.env
HealthCmd=CMD-SHELL curl -f http://127.0.0.1:8083/ || curl -f -k https://127.0.0.1:8083/ || exit 1
HealthInterval=30s
HealthTimeout=3s
HealthRetries=3
HealthStartPeriod=120s
Notify=healthy

Label=tsdproxy.enable=true
Label=tsdproxy.autodetect=true
Label=tsdproxy.name=calibre-web
Label=tsdproxy.port.web=443/https:8083/http
Label=tsdproxy.dash.icon=sh/calibre-web

Label=homepage.group=Media
Label=homepage.name="Calibre-Web Automated"
Label=homepage.icon=calibre-web.svg
Label=homepage.href=https://calibre-web.${TAILNET}.ts.net
Label=homepage.description="Self-hosted ebook library server"

Label=wud.watch=true

[Service]
Restart=always
TimeoutStartSec=150

[Install]
WantedBy=default.target
