[Unit]
Description=Toolbx Arch Linux (interactive shell)

[Container]
NoNewPrivileges=true
PidsLimit=1024

Image=quay.io/toolbx/arch-toolbox@sha256:04fc926ccff8536279b739224bf36fd89f9ae448956ff139bbebcb0c0425bdc3
ContainerName=toolbx-arch
Exec=sleep infinity
UserNS=keep-id

Environment=HOME=/work
WorkingDir=/work
Volume=%h/.config/containers/volumes/toolbx/arch:/work:Z

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy=default.target
