[Unit]
Description=Toolbx Ubuntu 26.04 (interactive shell)

[Container]
Image=quay.io/toolbx/ubuntu-toolbox:26.04
ContainerName=toolbx-ubuntu
Exec=sleep infinity
WorkingDir=/work

Environment=HOME=/work

Volume=%h/.config/containers/volumes/toolbx/ubuntu:/work:Z

UserNS=keep-id
PidsLimit=1024
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy=default.target
