[Unit]
Description=Toolbx Fedora 45 (interactive shell)

[Container]
Image=registry.fedoraproject.org/fedora-toolbox:44
ContainerName=toolbx-fedora
Exec=sleep infinity
WorkingDir=/work

Environment=HOME=/work

Volume=%h/.config/containers/volumes/toolbx/fedora:/work:Z

UserNS=keep-id
PidsLimit=1024
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy=default.target
