# Credenciais do provedor de VPN (ver lista de provedores suportados:
# https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers)
VPN_SERVICE_PROVIDER=trocar_pelo_seu
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=trocar_pela_sua_chave
WIREGUARD_ADDRESSES=trocar_pelo_seu_ip_interno
SERVER_COUNTRIES=trocar_pelo_pais_desejado
