[Unit]
Description=Syncthing

[Container]
ReadOnly=true
Tmpfs=/tmp:size=64M
DropCapability=ALL
User=1000
PidsLimit=256
Image=docker.io/syncthing/syncthing:2.1.3
ContainerName=syncthing
Network=tsdproxy-net.network
PublishPort=8384:8384
PublishPort=22000:22000
PublishPort=22000:22000/udp
PublishPort=21027:21027/udp

Volume=%h/.config/containers/volumes/syncthing/data:/var/syncthing:Z
EnvironmentFile=%h/.config/containers/env/syncthing.env
Environment=STGUIADDRESS=0.0.0.0:8384
HealthCmd=CMD-SHELL curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
HealthInterval=1m
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=30s
Notify=healthy
Label=tsdproxy.enable=true
Label=tsdproxy.autodetect=true
Label=tsdproxy.name=syncthing
Label=tsdproxy.port.web=443/https:8384/http
Label=homepage.group=Self-Hosted
Label=homepage.name=Syncthing
Label=homepage.icon=syncthing.svg
Label=homepage.href=https://syncthing.${TAILNET}.ts.net
Label=homepage.description="P2P file sync between devices, with no central server"

Label=wud.watch=true

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=default.target
