[Unit]
Description=Collabora Online (document editing for ownCloud)

[Container]
DropCapability=ALL
AddCapability=SYS_CHROOT
NoNewPrivileges=true
PidsLimit=512

Image=docker.io/collabora/code:26.04.3.1.1
ContainerName=collabora
Network=tsdproxy-net.network
PublishPort=8108:9980

EnvironmentFile=%h/.config/containers/env/collabora.env

Label=tsdproxy.enable=true
Label=tsdproxy.autodetect=true
Label=tsdproxy.name=collabora
Label=tsdproxy.port.web=443/https:9980/http
Label=tsdproxy.dash.icon=sh/collabora-online

Label=homepage.group=Files
Label=homepage.name=Collabora
Label=homepage.icon=collabora-online.svg
Label=homepage.href=https://collabora.${TAILNET}.ts.net
Label=homepage.description="Editing documents inside ownCloud, with no cloud in between"
Label=wud.watch=true

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
